 .nav-bar {
   background: white;
   display: block;
  //  justify-content: space-between;
  //  padding: 20px;
  //  padding-left: 72px;
  //  padding-right: 72px;
  //  align-items: center;
  //  background: lightblue;
  //  align-items: center;

  .btn {
     color: #f1541e;
     font-family: "Graphik Webfont";
     background-color: white;
     padding: 10px;
     text-decoration: none;
   }
  .btn:hover {

   }
 }