 
.header { 
  background: white;
  width: 1537px;
  height: 72px;
}

.nav-bar {
  max-width: 1348px;
  height: 48px;
  margin: 0 auto;
  padding: 12px 36px;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  justify-content: space-between;

}

.logo {
  display: flex;
  align-items: center;  
  justify-content: left;
  color: #f1541e;
  background-color: white;
  text-decoration: none;
  width: 80px;
  height: 40px;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  font-family: "Graphik Webfont";
}

.search-bar {
  width: 1035px;
  height: 48px; 
}

.nav-bar-items {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Graphik Webfont";
  font-weight: bold;

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2e2d2d;
  cursor: pointer;
}

.categories {
  width: 1522px;
  height: 34px;
  background: white;
  display: block;
  border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

.category-items {
  max-width: 1328px;
  height: 34px;
  margin: 0 auto;
  padding: 0px 36px;
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  justify-content: space-between;
  font-family: "Graphik Webfont";
}

.website-message {
  min-height: 200px;
  display: flex;
  justify-content: center;
  background-color: #FDEBD2;
  //  align-items: flex-end;
  h1 {
   z-index: 1;
   color: rgb(61, 61, 61);
  //  text-shadow: 1px 1px 15px black;
   text-align: center;
   font-size: 52px;
   font-family: "Guardian-EgypTT";
   font-weight: lighter;
  }
}
