<!DOCTYPE html>
<html>
  <head>
    <title>Btsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%# current_user is pre-defined method in app controller %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
